/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'DM Sans', sans-serif;
  color: var(--color-primary);
  background-color: #0F162D;

}

p {
  color: var(--secondary1);
  opacity: 50%;
  text-align: center;
}
@media screen and (min-width:1024px) {
  p{
    text-align: inherit;
  }
  #home-page{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    .text {
      width: 35%;
      color: var(--secondary1);
      margin-left: 5%;
    }
    .container{
      width: 45%;
      height: 80vh;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-right: 2%;
      div{
        width: 45%;
        height: 45%;
        margin: 2%;
        margin-top: 5%;
        border-radius: 25px;
        background-color: var(--secondary2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.7s;
      }
      div:hover{
        transform: scale(1.05);
        box-shadow: 0 0 6px 2px rgba(102, 102, 102, 0.281);
      }
    }
  
  }
}

@media screen  and (min-width:768px) and (max-width:1023px){
  p{
    text-align: start;
  }
  #home-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .text {
    margin-top: 20%;
    width: 75%;
    color: var(--secondary1);
    p{
      margin: 2%;
    }
  }
  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    div{
      width: 45%;
      height: 30%;
      background-color: var(--secondary2);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border-radius: 16px;
      margin: 2%;
      padding: 5%;
      h3{
        margin: 5% 0 5% 0;
      }
      p{
        text-align: center;
      }
    }
  }
}
}
@media screen  and (max-width:767px){
  #home-page{
  display: flex;
  flex-direction: column;
  .text {
    width: 90%;
    margin-left: 5%;
    color: var(--secondary1);
    p{
      margin: 2%;
    }
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    div{
      width: 90%;
      height: 30%;
      background-color: var(--secondary2);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 5%;
      border-radius: 16px;
      padding: 5%;
      h3{
        margin: 5% 0 5% 0;
      }
    }
  }
}
}